# Ignore all things!
/*

# Un-ignore some things!
!.gitignore
!.tool-versions
!.zshrc
!README.md
!/.config
/.config/*

!/.config/brew
/.config/brew/*
!/.config/brew/Brewfile

!/.config/git
/.config/git/*
!/.config/git/config
!/.config/git/ignore

!/.config/karabiner
/.config/karabiner/*
!/.config/karabiner/karabiner.json

!/.config/nvim
/.config/nvim/*
!/.config/nvim/init.lua
!/.config/nvim/lazy-lock.json
!/.config/nvim/lua
/.config/nvim/lua/*
!/.config/nvim/lua/commands.lua
!/.config/nvim/lua/options.lua
!/.config/nvim/lua/mappings.lua
!/.config/nvim/lua/plugins.lua
!/.config/nvim/lua/plugins
/.config/nvim/lua/plugins/*
!/.config/nvim/lua/plugins/which-key.lua

!/.config/pgcli
/.config/pgcli/*
!/.config/pgcli/config

!/.config/tmux
/.config/tmux/*
!/.config/tmux/tmux.conf
!/.config/tmux/tmux.terminfo

!/.config/wezterm
/.config/wezterm/*
!/.config/wezterm/wezterm.lua
