[user]
    name = Potiguar Faga Catalan
    email = potiguar@potiguar.net

[color]
    ui = auto

[core]
    excludesfile = ~/.gitignore_global
	pager = less -F -X

[pull]
    rebase = true

[push]
    # push current branch by default
    default = current

[url "git@github.com:potibas/"]
	insteadOf = "potibas:"

[url "git@github.com:"]
	insteadOf = "github:"
	insteadOf = "https://github.com/"

[url "git@gitlab.com:"]
	insteadOf = "gitlab:"

[alias]
    # Short status output
    s = status -s

    # Not everything is bad
    praise = blame

    # Common operations
    co = checkout
    st = status
    ci = commit
    di = diff
    dc = diff --cached
    cp = cherry-pick
    cpn = cherry-pick --no-commit
    aa = add --all
    pr = pull --rebase
    ri = rebase --interactive --autosquash
    rc = rebase --continue
    fa = fetch --all
    amend = commit --amend
    squash = commit --amend --no-edit
    b = branch

    # Colored logs
    l  = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(yellow)%h%C(reset) %C(green)(%ar)%C(reset) %C(red)%d%C(reset) %C(white)%s%C(reset) - %C(italic cyan)%an%C(reset)'
    la = !git l --all
    r = !git l -20
    ra = !git r --all

    # Searching
    ls = "!git l -p -S "
    lg = "!git l -p -G "

[init]
	defaultBranch = main
