# Ignore all things!
/*

# Un-ignore some things!
!.gitignore
!.tool-versions
!.zshrc
!README.md
!/.config
/.config/*

!/.config/brew
/.config/brew/*
!/.config/brew/Brewfile

!/.config/git
/.config/git/*
!/.config/git/config
!/.config/git/ignore

!/.config/pgcli
/.config/pgcli/*
!/.config/pgcli/config
