# Ignore all things!
/*

# Un-ignore some things!
!README.md
!Brewfile
!.gitconfig
!.gitignore
!.gitignore_global
!.irbrc
!.tool-versions
!.zshrc
!.zprofile
!/.hammerspoon

!/bin
/bin/*
!/bin/osx
!/bin/bootstrap

!/.config
/.config/*
!/.config/starship.toml

!/.config/karabiner
/.config/karabiner/*
!/.config/karabiner/karabiner.json

!/.config/kitty

!/.config/nvim
/.config/nvim/undo

!/.config/tmux

!/.config/vscode
/.config/vscode/*
!/.config/vscode/settings.json
!/.config/vscode/keybindings.json
!/.config/vscode/snippets

!/.composer
/.composer/*
!/.composer/composer.json
!/.composer/composer.lock

